body {
    height: 90%;
    width: 90%;
}

button {
    margin: auto;
    display: block;
    border-radius: 12px;
    font-size: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5%;
}

button:hover {
    background-color: brown;
    color: white;
}

#chnp {
    margin: auto;
    display: block;
    border-radius: 12px;
    font-size: 15px;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 30%;
    height: 5%;
}

/* Main Container */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 60%;
    max-width: 1200px;
}

/* Card Styles */
.big, .small {
    margin: 5px;
    float: left;
    align-self: center;
    text-align: center;
}

.big {
    font-size: 130px;
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
}

.small {
    font-size: 40px;
    width: 30%;
    height: 30%;
    background-color: aliceblue;
}

.small:hover {
    background-color: rgb(167, 164, 164);
}

/* Floating Text Styles */
.play1, .play2, .splay1, .splay2 {
    position: absolute;
    font-size: 15px;
    text-align: left;
    display: flex;
}

.play1 {
    color: blue;
    left: 3%;
}

.play2 {
    color: red;
    right: 10%;
}

.splay1 {
    top: 100px;
    color: blue;
    left: 3%;
}

.splay2 {
    top: 100px;
    color: red;
    right: 10%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .big {
        font-size: 71px;
        width: 100px;
        height: 100px;
    }

    .small {
        font-size: 10px;
        width: 27%;
        height: 27%;
    }

    .play1, .play2 {
        font-size: 7px;
        bottom: 20%;
    }

    .splay1, .splay2 {
        font-size: 15px;
        bottom: 10%;
    }
}

@media (max-width: 470px) {
    .big {
        font-size: 55px;
        width: 60px;
        height: 60px;
    }

    .small {
        width: 23%;
        height: 23%;
    }

    .play1, .play2 {
        font-size: 6px;
    }

    .splay1, .splay2 {
        font-size: 12px;
    }
    .play1, .play2 {
        font-size: 7px;
        bottom: 20%;
    }

    .splay1, .splay2 {
        font-size: 15px;
        bottom: 10%;
    }
}

@media (max-width: 300px) {
    .big {
        font-size: 55px;
        width: 40px;
        height: 40px;
    }

    .small {
        width: 23%;
        height: 23%;
    }

    .play1, .play2 {
        font-size: 6px;
    }

    .splay1, .splay2 {
        font-size: 7px;
    }
    .play1, .play2 {
        font-size: 7px;
        bottom: 20%;
    }

    .splay1, .splay2 {
        font-size: 15px;
        bottom: 10%;
    }
}

